<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="com.github.dannil.scbjavaclient"
  status="WARN">
  <Properties>
    <!-- <Property name="line">%L</Property> -->
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <MarkerFilter marker="ALLOW_FAILURE_EXTENSION"
        onMatch="DENY" onMismatch="ACCEPT" />
      <PatternLayout pattern="[%p] %d{yyyy-MM-dd HH:mm:ss zzz} %c{1}:%L - %m%n" />
    </Console>
    <Console name="AllowFailure" target="SYSTEM_OUT">
      <MarkerFilter marker="ALLOW_FAILURE_EXTENSION"
        onMatch="ACCEPT" onMismatch="DENY" />
      <PatternLayout
        pattern="[%p] %d{yyyy-MM-dd HH:mm:ss zzz} %c{1}:$${ctx:line} - %m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.github.dannil.scbjavaclient.client.AbstractClient"
      level="trace" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <Logger
      name="com.github.dannil.scbjavaclient.test.extensions.AllowFailureExtension"
      level="trace" additivity="false">
      <AppenderRef ref="AllowFailure" />
    </Logger>
    <Root level="trace">
      <AppenderRef ref="Console" />
      <AppenderRef ref="AllowFailure" />
    </Root>
  </Loggers>
</Configuration>